<footer class="container-fluid footer bg-dark text-center text-lg-start">
  <div class="footer-content text-center pt-2 pb-2">
    <p class ="text-white">
      This is ment as a Tool to Bookmark Manga, Manhwa and Manhwa. Managing the ressources and you use in this tooo
    is your responsibility
    </p>
    <p class ="text-white text-center">
      If you have any improvements ideas or bugs to report you can inform me via this form:
      <a class="link-info" routerLink="contact">Contact form</a>
    </p>
  </div>
</footer>
