
<section class="container-fluid mt-2">
  <h1>Manga, manhwa and manhua bookmarker</h1>
  <p>Welcome to the Manga, manhwa and manhua bookmarker app!</p>
  <p>Here you can find a collection of your favorite manga, manhwa and manhua series.</p>
  <p>
    You can also discover new manga based on other users recommendations and get access to their links when they choose to share their resources.
    The goal is to creat a community of manga, manhwa and manhua lovers who can share their favorite series and help each other find new ones to read.
  </p>
</section>

<Section class="container-fluid mt-2 mb-5">
  <h2>Get started by creating an account</h2>
  <button type="button" class="btn btn-primary"><a routerLink="/login" class="text-white ">CreateAccount</a></button>
</Section>
